@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

:root {
  --main-button-color: #eeeeaa;
  --main-text-color: #333333;
  --main-background-color: #333333;
}

.content-center {
  align-content: center;
}
.justify-center, .flex-center {
  justify-content: center;
}
.items-center, .flex-center {
  align-items: center;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.row, .column, .flex {
  display: flex;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}

.ma-xs {
  margin: 4px;
}
.my-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mx-md {
  margin-left: 16px;
  margin-right: 16px;
}
.ma-lg {
  margin: 32px;
}
.my-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}
.ma-none {
  margin: 0;
}

.text-h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em;
}

.button {
  position: relative;
  padding: 4px 16px;
  min-height: 2.572em;
  overflow: hidden;
  text-align: center;
  align-content: center;
  border-radius: 3px;
  color: var(--main-button-color);
  background-color: var(--main-background-color);
  box-shadow: 0 0 10px rgba(255,255,200, 0.4);
  outline: 0 !important;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none !important;
  cursor: pointer;
}

button.button {
  font-family: inherit;
  font-size: inherit;
}

.button::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.button:hover:after {
  background-color: var(--main-button-color);
  opacity: 0.2;
}

.round {
  border-radius: 50%;
  aspect-ratio: 1 / 1
}

.topleft {
  position: absolute;
  top: 0px;
  left: 0px;
}

.bottomright {
  position: absolute;
  bottom: 0px;
  right: 0px;
}